body {
	/* align our svg to the center of the viewport both horizontally and vertically */
	height: 100vh;
	display: grid;
	place-items: center;

	position: relative;

	background-color: yellow;

	cursor: none;
}

select{
	cursor: none;
}
  
#blob{
	position: absolute;
	z-index: -1;
	/* border: 1px solid; */
}